**All Scripting is performed in Google colab**

In [0]:
import json as js
import tweepy as tp
import pandas as pd
def extract_midastweets():
    customer_key="" #Key Removed
    customer_secret_key="" #Key Removed
    api_access_key="" #Key Removed
    api_access_secret="" #Key Removed
    auth=tp.OAuthHandler(customer_key,customer_secret_key) 
    auth.set_access_token(api_access_key,api_access_secret) 
    api=tp.API(auth) 
    user_tweets=api.user_timeline(screen_name="midasIIITD")
    tweets_list=list()
    for i in user_tweets:
        tweet=dict()
        tweet["text of the tweet"] = i.text
        tweet["date and time of the tweet"] = str(i.created_at)
        tweet["number of favorites/likes"] = i.favorite_count
        tweet["number of retweets"] = i.retweet_count
        if "media" in i.entities:
            tweet["number of images"] = len(i.entities["media"])
        else:
            tweet["number of images"] = "None"
        tweets_list.append(tweet)
    json_file=open("midastweets.json","w")
    js.dump(tweets_list,json_file)
    json_file.close()

In [0]:
def display_tweets():    
    json_file = open("midastweets.json","r")
    tweets=js.load(json_file)
    json_file.close()
    headers=["text of the tweet","date and time of the tweet","number of favorites/likes","number of retweets","number of images"]
    df=pd.DataFrame(columns=headers,data=tweets)
    return df

In [9]:
extract_midastweets()
print(display_tweets())

                                    text of the tweet  \
0   Clarification: Our earlier post which indicate...
1   RT @IIITDelhi: Applications open for MTech (CB...
2   RT @IIITDelhi: We are delighted to share that ...
3   RT @Harvard: Professor Jelani Nelson founded A...
4   RT @emnlp2019: For anyone interested in submit...
5   RT @multimediaeval: Announcing the 2019 MediaE...
6   Many Congratulations to @midasIIITD student, S...
7   @midasIIITD thanks all students who have appea...
8   @himanchalchandr Meanwhile, complete CV/NLP ta...
9   @sayangdipto123 Submit as per the guideline ag...
10  We request all students whose interview are sc...
11  Other queries: "none of the Tweeter Apis give ...
12  Other queries: "do we have to make two differe...
13  Other queries: "If using Twitter api, it does ...
14  Response to some queries asked by students on ...
15  RT @kdnuggets: Top 8 #Free Must-Read #Books on...
16  @nupur_baghel @PennDATS Congratulation @nupur_...
17  We have emailed the task details to all candid...
18  RT @rfpvjr: Our NAACL paper on polarization in...
19  RT @kdnuggets: Effective Transfer Learning For...

   date and time of the tweet  number of favorites/likes  number of retweets  \
0         2019-04-10 09:01:29                          0                   0
1         2019-04-10 04:51:26                          0                   1
2         2019-04-09 16:45:07                          0                  14
3         2019-04-09 05:04:27                          0                  36
4         2019-04-09 05:04:11                          0                  17
5         2019-04-08 19:38:09                          0                  15
6         2019-04-08 07:08:12                         18                   2
7         2019-04-08 03:27:42                          5                   0
8         2019-04-07 14:17:29                          0                   0
9         2019-04-07 14:17:09                          0                   0
10        2019-04-07 11:43:24                          1                   1
11        2019-04-07 06:55:19                          5                   2
12        2019-04-07 06:53:38                          5                   1
13        2019-04-07 05:32:27                          6                   1
14        2019-04-07 05:29:40                          7                   1
15        2019-04-06 17:11:29                          0                   2
16        2019-04-06 16:43:27                         18                   3
17        2019-04-05 16:08:37                         11                   1
18        2019-04-05 04:05:11                          0                  16
19        2019-04-05 04:04:43                          0                  11

   number of images
0              None
1              None
2              None
3              None
4              None
5              None
6              None
7              None
8              None
9              None
10             None
11             None
12             None
13             None
14             None
15             None
16             None
17             None
18             None
19                1